/**
 * Basic typography style for copy text
 */
@import '~@angular/material/core/theming/theming';
@import '../themes/_default.scss';

body {
  color: $text-color;

  font: normal 125%/1.4 $text-font-stack;
}

.section-header {
  color: mat-color(map-get($theme, accent), A700);
}
