<div *ngIf="!appState.get('isAuthenticated')">
  <h1 class="section-header">Register</h1>
  <md-card>
    <md-card-content>
      <form *ngIf="active" [formGroup]="registerForm" novalidate (ngSubmit)="processUserData()">

        <div>
          <md-input-container>
            <input mdInput type="text" validateUsername="username" formControlName="username" placeholder="Username">
          </md-input-container>
          <small class="form-error"
            [hidden]="registerForm.controls.username.valid || (registerForm.controls.username.pristine && !submitted)"
            *ngIf="registerForm.controls.username.errors !== null && registerForm.controls.username.errors.minlength">
            Username is required (minimum 3 characters).
          </small>
          <small class="form-error"
            [hidden]="registerForm.controls.username.valid || (registerForm.controls.username.pristine && !submitted)"
            *ngIf="registerForm.controls.username.errors !== null && registerForm.controls.username.errors.usernameTaken === true">
            Username already taken.
          </small>
        </div>

        <div>
          <md-input-container>
            <input mdInput type="email" formControlName="email" placeholder="Email">
          </md-input-container>
          <small class="form-error"
                 [hidden]="registerForm.controls.email.valid || (registerForm.controls.email.pristine && !submitted)"
                 *ngIf="registerForm.controls.email.errors !== null && registerForm.controls.email.errors.minlength">
            Email is required (minimum 5 characters).
          </small>
          <small class="form-error"
                 [hidden]="registerForm.controls.email.valid || (registerForm.controls.email.pristine && !submitted)"
                 *ngIf="registerForm.controls.email.errors !== null && registerForm.controls.email.errors.pattern">
            Email not of valid form.
          </small>
        </div>

        <div>
          <md-input-container>
            <input mdInput type="password" validateEqual="confirmPassword" reverse="true" formControlName="password"
                   placeholder="Password">
          </md-input-container>
          <small class="form-error"
            [hidden]="registerForm.controls.password.valid || (registerForm.controls.password.pristine && !submitted)"
            *ngIf="registerForm.controls.password.errors !== null && registerForm.controls.password.errors.minlength">
            Password is required (minimum 8 characters).
          </small>
        </div>

        <div>
          <md-input-container>
            <input mdInput type="password" validateEqual="password" formControlName="confirm"
                   placeholder="Confirm Password">
          </md-input-container>
          <small class="form-error"
            [hidden]="registerForm.controls.confirm.valid || (registerForm.controls.confirm.pristine && !submitted)"
            *ngIf="registerForm.controls.confirm.errors !== null && registerForm.controls.confirm.errors.minlength">
            Password is required (minimum 8 characters).
          </small>
          <small class="form-error"
            [hidden]="registerForm.controls.confirm.valid || (registerForm.controls.confirm.pristine && !submitted)"
            *ngIf="registerForm.controls.confirm.errors !== null && registerForm.controls.confirm.errors.validateEqual === false">
            Passwords must match.
          </small>
        </div>
        <div>
          <button md-button color="warn" (click)="newUser()">
            Clear
          </button>
          <button md-raised-button color="primary" type="submit">
            Submit
          </button>
        </div>
      </form>
      <div [hidden]="!error.state" class="form-error">
        <p>
          Registration failure! {{ error.message }}
        </p>
      </div>
      <div *ngIf="submitted && !appState.get('isAuthenticated')">
        <p [hidden]="accepted">
          Waiting on a response from the server...
        </p>
        <div [hidden]="!accepted" class="form-valid">
          <p>
            Registration Successful!
          </p>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
<div *ngIf="appState.get('isAuthenticated')">
  <h1 class="section-header">Hello, user</h1>
  <p>
    You are currently logged in. To create a new account please log out first.
  </p>
  <div>
    <button md-raised-button color="primary" (click)="logout()">Log Out</button>
  </div>
</div>
<div *ngIf="!appState.get('isAuthenticated')">
  <div>
    <div>registerForm details:</div>
    <pre>Is registerForm valid?: <br>{{registerForm.valid | json}}</pre>
    <pre>Is registerForm submitted?: <br>{{submitted | json}}</pre>
    <pre>registerForm value: <br>{{registerForm.value | json}}</pre>
  </div>
  <div>
    Form changes:
  </div>
  <div *ngFor="let event of events">
    <pre> {{ event | json }} </pre>
  </div>
</div>
