<h4>Password has been changed</h4>
<h5>If you did not initiate this change, change this email account password and click the link below to change your password</h5>
<a href="{{forgotUrl}}">Click here to recover your password</a>
