<div class="card-container">

  <div class="section-header">
    <h1>Your Content Here</h1>
  </div>

  <hr>

  <div>
    <md-card>
      <md-card-title>Local State</md-card-title>
      <md-card-content>
        <form class="local-state-form" (ngSubmit)="submitState(localState.value)" autocomplete="off">
          <md-input-container>
            <input
              mdInput
              [value]="localState.value"
              (input)="localState.value = $event.target.value"
              placeholder="Submit Local State to App State"
              autofocus>
          </md-input-container>

          <button md-raised-button color="primary">Submit Value</button>
        </form>
        <!--
            <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
            Rather than wiring up two-way data-binding ourselves with [value] and (input)
            we can use Angular's [(ngModel)] syntax
            <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
          -->

        <pre>this.localState = {{ localState | json }}</pre>
      </md-card-content>
    </md-card>


  </div>

</div>
