<div *ngIf="!appState.get('isAuthenticated')">
  <h1 class="section-header">Login</h1>
  <md-card>
    <md-card-content>
      <form *ngIf="!accepted" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        <div>
          <div>
            <md-input-container>
              <input mdInput type="text" formControlName="username" placeholder="Username or Email">
            </md-input-container>
            <small class="form-error" *ngIf="formErrors.username">
                  {{formErrors.username}}
            </small>
          </div>

          <div>
            <md-input-container>
              <input mdInput type="password" formControlName="password" placeholder="Password">
            </md-input-container>
            <small class="form-error" *ngIf="formErrors.password">
                  {{formErrors.password}}
            </small>
          </div>
        </div>
        <div>
          <button md-button color="warn" type="button" (click)="resetForm()">
            Clear
          </button>
          <button md-raised-button color="primary" type="submit">
            Submit
          </button>
        </div>
        <div>
          <button md-button color="primary" type="button" [routerLink]=" ['/forgot'] ">
            Forgot Password
          </button>
        </div>
      </form>

      <div *ngIf="submitted">
        <p [hidden]="!active">
          {{message}}
        </p>
        <p [hidden]="active" [ngClass]="accepted ? 'form-valid': 'form-error'">
          {{message}}
        </p>
      </div>
    </md-card-content>
  </md-card>
</div>
<div *ngIf="appState.get('isAuthenticated')">
  <h1 class="section-header">Hello, user</h1>
  <p>{{ message }}</p>
  <p>
    You are currently logged in. To log out, use the button below.
  </p>
  <div>
    <button md-raised-button color="primary" (click)="logout()">Log Out</button>
  </div>
</div>
<div *ngIf="!appState.get('isAuthenticated')">
  <div>
    <div>loginForm details:</div>
    <pre>Is loginForm valid?: <br>{{loginForm.valid | json}}</pre>
    <pre>Is loginForm submitted?: <br>{{submitted | json}}</pre>
    <pre>loginForm value: <br>{{loginForm.value | json}}</pre>
  </div>
</div>
