<div>
  <h1 class="section-header">Reset Password</h1>
  <md-card>
    <md-card-content>
      <form *ngIf="!accepted" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
        <h4>Enter {{!resetToken ? 'your current and' : ''}} your new password</h4>
        <div>
          <div *ngIf="!resetToken">
            <md-input-container>
              <input mdInput type="password" name="password" formControlName="password"
                     placeholder="Current Password" (blur)="onBlur()">
              <md-hint class="form-error" *ngIf="formErrors.password">
                {{ formErrors.password }}
              </md-hint>
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <input mdInput type="password" name="newPassword" formControlName="newPassword"
                     placeholder="Password" (blur)="onBlur()">
              <md-hint class="form-error" *ngIf="formErrors.newPassword">
                {{ formErrors.newPassword }}
              </md-hint>
            </md-input-container>
          </div>

          <div>
            <md-input-container>
              <input mdInput type="password" name="confirm" formControlName="confirm"
                     placeholder="Confirm Password" (blur)="onBlur()">
              <md-hint class="form-error" *ngIf="formErrors.confirm">
                {{ formErrors.confirm }}
              </md-hint>
            </md-input-container>
          </div>
        </div>
        <div>
          <button md-raised-button color="primary" type="submit">
            Submit
          </button>
        </div>
      </form>
      <div *ngIf="submitted">
        <p [hidden]="!active">
          {{message}}
        </p>
        <p [hidden]="active" [ngClass]="accepted ? 'form-valid': 'form-error'">
          {{message}}
        </p>
      </div>
    </md-card-content>
  </md-card>
</div>
