<md-card x-large>
  <md-card-title>Socket.io Chat</md-card-title>
  <md-card-content>
    <form autocomplete="off">
      <md-input-container>
        <input md-input placeholder="User Handle" [(ngModel)]="handle"
               [disabled]="connected" name="chatUser">
      </md-input-container>
      <button md-raised-button color="primary" *ngIf="connected" (click)="disconnect()">Disconnect</button>
      <button md-raised-button color="primary" *ngIf="!connected"(click)="connect()">Connect</button>
    </form>
    <form (ngSubmit)="send()" autocomplete="off">
      <md-input-container>
        <input md-input placeholder="Enter a Message" [(ngModel)]="message"
               [disabled]="!connected" autofocus name="chatMessage">
      </md-input-container>
      <button md-raised-button color="primary" [disabled]="!connected">
        Send
      </button>
    </form>  </md-card-content>
  <md-card>
    <md-card-title>Message Feed</md-card-title>
    <md-card-content>
      <md-card *ngFor="let item of items">
        <span>
          {{item}}
        </span>
      </md-card>
    </md-card-content>
  </md-card>
</md-card>
