// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@import '~@angular/material/core/theming/theming';
@import '../themes/_default.scss';

button.active{
  background: md-color(map-get($theme, accent), lighter);
  color: md-color(map-get($theme, accent), lighter-contrast);
}
button.active:hover{
  background: md-color(map-get($theme, accent), 200);
  color: md-color(map-get(map-get($theme, accent), contrast), 200);
}
